{%extends "registration/base.html"%} 
{% load bootstrap4 %}
{% block content %}

<!-- start of the container -->
<div class="container">
  <div class="row pt-5 mt -5">
    <!-- Empty div -->
    <div class="col-md-6 mt-5 pt-5">
      <!-- <img class="img-fluid" src="/media/project-images/undraw_awards_fieb.png" alt=""> -->
    </div>
    <div class="col-md-6 pt-5 mt-5">
      {% if form.errors %}
        <p> Some information might be  incorrect </p>
      {% endif %}
      <div class="card" style="width: 30rem ; border: none;">
        <div class="card-header" style= "background-color: white;">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="card-body">
          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm m-auto" value="Sign up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>
     

    </div>

  </div>
  
</div>

{% endblock %}