{% extends 'neighbour/base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
  <div class="row">
   

    <div class="col-md-6">
{% if user.profile.neighbourhood.neighbourhood_name %}
      <div class="card">
        <p>Welcome to your neighbourhood <strong>{{user.profile.neighbourhood.neighbourhood_name}}</strong> </p>
      </div>
  {% else %}
      <h1>What's your neighbourhood?</h1>
     <form  action="{% url 'index' %}" method="POST"  enctype="multipart/form-data">

       {% csrf_token %}  
       {% bootstrap_form form %}

       <input type="submit">

     </form>
{% endif %}
    </div>
  </div>
</div>

{% if bisna %}
{% for business in bisna %}
<li>business.business_name</li>
{% endfor %}
{% endif %}



{% endblock %}